.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    justify-content: start;
    height: 100%;
    flex: 1;

}


.search_bar {
    position: relative;
    display: flex;
    align-items: center;

}

.search_bar_input {
    padding: 1rem 3.5rem;
    border-radius: 60px;
}

.search_bar_image {
    position: absolute;
    left: 20px;
    width: 30px;
    filter: invert(100%);
}


.banner {
    width: 100%;
    border-radius: 12px;
    height: 23vh;
    background-image: linear-gradient(to right, #7286B4, #E794CE);
    position: relative;
    padding-left: 48px;
    display: flex;
    justify-content: space-between;
    container-name: banner;
    container-type: inline-size;
}

.banner_girl_container {
    position: relative;
    height: 100%;
    width: 200px;
}

.banner_girl_container img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 120%;
}

.banner_para {
    max-width: 600px;
    font-size: xxx-large;
    word-wrap: break-word;
    font-weight: 500;
    color: #2E0052;
}

.filter_navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.filter_left {
    display: flex;
    gap: 0.8rem;
}

.filter_group {
    display: flex;
    gap: 0.8rem;


}

.view {
    display: flex;
    gap: 0.2rem;
}


.view_icons {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.view_icons_active {
    width: 35px;
    height: 35px;
    cursor: pointer;
    filter: invert();
}

.view_icons_active:last-child {
    transform: scale(120%);
}

.view_icons:last-child {
    transform: scale(120%);
}

.custom_select {
    outline: none;
    background-color: #D9D9D9;
    border: none;
    border-radius: 20px;
    font-size: medium;
    padding: 8px 8px;
    border-right: 10px solid #D9D9D9;
}


.custom_select option {
    background-color: white;
    font-size: medium;
    border: none;
    outline: none;
    border-color: #E1E1E1;
}

.sort_select {
    outline: none;
    border-color: #E1E1E1;
    border-radius: 20px;
    font-size: medium;
    padding: 8px 12px;
    height: 100%;
    background-color: white;
}


.feedback {
    position: fixed;
    bottom: 10vh;
    right: 18vw;
    border-radius: 50px;
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    filter: drop-shadow(-1px 1px 12px #e1e1e1);
    cursor: pointer;
}

.feeback_in {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback img {
    width: 40%;
}

.mobile_filter_navbar {
    display: none;
}

.mobie_filter_right {
    display: none;
}

.mobile_buy_now_button {
    display: none;
}

.banner_content {
    width: 100%;
    display: flex;
    align-items: center;

}

.product_container {
    position: relative;


}

@container banner (width < 750px) {
    .banner_para {
        display: flex;
        align-items: center;
        font-size: xx-large;
        width: 400px;
    }

    .banner_girl_container img {
        transform: translate(3rem, 0px);
    }
}

@media (width < 1300px) {
    .filter_group {
        font-size: medium;
        max-width: 40vw;
        gap: 0.2rem;
        overflow-x: scroll;
    }

    .custom_select {
        font-size: small;
        /* padding: 0; */
    }

    .sort_select {
        font-size: small;

    }
}

@media screen and (min-width: 480px) and (max-width: 600px) {
    .banner_para {
        font-size: x-large;
    }

    .banner_content {
        width: 50%;
        display: flex;
        align-items: start;
        height: 100%;
        font-size: large;
    }
}

.loader {
    width: 100%;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
}

@media (width < 480px) {
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        padding-bottom: 12vh;
        align-items: center;
    }

   
    .banner {
        height: 15vh;
        max-width: 90vw;
        margin: 0px auto;
        margin-top: 2rem;
        padding-left: 1rem;
    }

    .banner_para {
        font-size: 1.2rem;
        font-weight: 600;
        width: 70%;
        margin: 0;
        margin-bottom: 10px;
    }

    .banner_girl_container img {
        right: 25%;
    }

    .view {
        display: none;
    }

    .home_navbar {
        display: none;
    }

    .search_bar {
        display: none;
    }

    .banner_girl_container {
        width: 30%;
    }

    .filter_group {
        font-size: small;
        max-width: 22vw;
        gap: 0.2rem;
        overflow-x: scroll;
    }

    .sort_select {
        font-size: smaller;
    }

    .feedback {
        display: none;
    }

    .filter_navbar {
        width: 90vw;
        margin: 0px auto;
        display: flex;
        flex-direction: row-reverse;
    }

    .filter_right {
        display: none;
    }

    .mobie_filter_right {
        display: flex;
    }

    .mobie_filter_right select {
        width: 90px;
        border-radius: 8px;
        margin-right: 12px;
    }

    .filter_group {
        width: 100%;
        scrollbar-width: none;

    }

    .filter_left {
        overflow-x: scroll;
    }

    .filter_group::-webkit-scrollbar {
        display: none;
    }

    .custom_select {
        font-size: small;
        padding: 7px;
        border-radius: 8px;
        max-width: 130px;
    }

    .filter_group {
        max-width: none;
    }

    .mobile_buy_now_button {
        display: block;
        border: none;
        background-color: #2E0052;
        font-weight: 400;
        padding: 5px 12px;
        color: white;
        border-radius: 12px;
    }

    .banner_content {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: 100%;
        padding: 0px 20px;
        
    }
    .banner_para{
        font-size: large    ;
        width: 90%;
    }


}