.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    justify-content: start;
    width: 100%;
    gap: 2rem;
}

.product_container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    cursor: pointer;
}
.product_image {
    background-color: hsla(216, 100%, 50%, 0.17);
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.product_image img {
    object-position: center;
    object-fit: cover;
    width: 100%;
}
.primary_image {
    background-color: white;

}

.product_image img:last-child {
    position: absolute;
    width: 50px ;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}
.product_info{
    margin-bottom:  0;
}

.name_para{
    font-weight: 600;
}

.price_para{ 
    font-weight: 500;
}

.color_type_para{
    font-weight: 500;
}


@media (max-width: 480px) {
    .container {
        border-top: 1px solid #BBBABB;
        grid-template-columns: repeat(2, 1fr);
        justify-content: start;
        width: 100%;
        gap: 0.5rem;
        margin: 0 auto;
        padding: 20px;
    }
    .product_image {
        padding: 15px;
    }
    .product_image img:last-child {
        width: 40px ;
        bottom: 0px;
        right: 0px;
    }

    .product_container {
        border: 1px solid #CECECE;
        border-radius: 8px;
        overflow: hidden;
        font-size: small;
        gap: 0px;
    }
    .product_info{
        padding: 10px 12px ;
    }
     .name_para, .price_para, .color_type_para {
        margin: 0 ;
        margin-bottom: 8px;
        width: 100%;
    }
}