
.footer{
    height: 20px;
    background-color: #2E0052;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 100%;
}

.footer_para{
    font-size: large;
    font-weight: 600;
    color: white;
}