.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    justify-content: start;
    height: 100%;
    flex: 1;
    
}
.redirect_button{
    font-weight: 600;
    color: white;
    background-color: #2E0052;
    width: fit-content;
    padding: 12px 24px;
    border: none;
    border-radius: 14px;
    font-size: medium;
    cursor: pointer;
    margin-top: 20px;
}
.heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}



.heading img {
    max-width: 45px;
    filter: brightness(0);
}

.mobile_redirect_button {
    display: none;
}

.cart_total_items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom:  20px;  
}

.cart_items {
    flex: 1;
    border-top: 2px solid #e1e1e1;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #e1e1e1;

}
.empty_cart{
    display: none;
}
.desk_empty_cart{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100%;
    justify-content: start;
    margin-top: 20px;   
}

.desk_empty_cart h1 {
    font-size: x-large;
    margin: 0;
}
.desk_empty_cart p {
    margin: 0;
    font-size: larger;
}
.cart_item_detail {
    border-bottom: 2px solid #e1e1e1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart_bill {
    width: 30%;
}

.cart_item_container{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    align-items: start;
    gap: 1rem;
}

.cart_item_data,.cart_item_price, .cart_item_quantity, .cart_item_sum  {
    display: flex;
    flex-direction: column;
    text-align: start;
}
.cart_item_sum {
    width: 100px;
}
.cart_item_data{
    display: flex;
    flex-direction: column;
    
}
.cart_item_container label {
    font-weight: 600;
    font-size: large;
    margin-bottom: 12px;
}
.cart_item_container img{
    width: 120px;
    padding: 12px;
    background-color: white;
    border: 1px solid #2E0052;
    border-radius: 12px;
}
.cart_item_detail_left{
    display: flex;
    gap: 1rem;
    width: 33%;
    min-width: 200px;    
}
.cart_item_detail_left p{
    margin: 0 ;
}

.cart_item_detail_left p{
    font-size: large;
    color: #A2A2A2;
}

.cart_item_total{
    display: flex;
    justify-content: space-between;
    align-self: end;
    width: 80%;
}
.cart_item_total :nth-child(2) {
    width: 120px;
    text-align: left;
}
.quantity_select{
    border: 1px solid #BEBEBE;
    background-color: white;
    border-radius: 5px;
}

.price_detail_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price_details {

    width: 80%;
}

.total_mrp,
.discount,
.convenience_fee,
.total_amount{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.total_amount {
    margin-top: 100px;
}
.total_amount p:first-child{
    font-size: large;
    font-weight: 600;
}
.total_amount p:last-child{
    font-size: large;
}

.place_order {
    width: 100%;
    border: none;
    font-size: large;
    padding: 12px;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #FFD600;
    cursor: pointer;
}
.mobile_cart_container{
    display: none;
}

@media (max-width: 980px) {
    .container{
        width: 90%;
    }
    .place_order{
        font-size: medium;
    }
    .total_amount p:first-child, p:last-child {
        font-size: medium;
    }
    .cart_item_container label {
        font-size: medium;
        font-weight: 500;
    }
    .cart_item_detail_left p {
        font-size: medium;
    }
    .cart_item_detail_left {
        width: 100%;
        min-width:  100px;
    }
    .cart_item_detail {
        width: 100%;
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
   .cart_item_sum{
    padding: 0;
    margin: 0;

}

}

@media (max-width: 800px) {
    .container{
        width: 90%;
    }
    .cart_total_items{
        display: none;
    }

    .mobile_cart_container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 10vh;
    }
    .mobile_cart_card{
        display: flex;
        width: 100%;
        background-color: #DBDBDB;
        padding: 20px;

    }
    .cart_item_data{
        gap: 0.5rem;
        font-size: large;
    }
    .cart_item_data p {
        color: black;
        font-size: large;
    }
    .cart_item_detail_left img{
        width: 50% ;
        max-width: 200px;
        max-height: 200px;
        background-color: white;
        padding: 20px;
        object-fit: contain;
    }
    .item_total {
        margin-top: 70px;
        display: flex;
        color: black;
        gap: 2rem;
        justify-content: space-between;
    } 
    .item_price{
        font-weight: 600;
    }
     .item_total p {
        color: black;
        font-size: large;
    }
    .item_total p:last-child {
        font-weight: 600;
    }

    .mobile_button_container {
        border-top: 1px solid #000;
        cursor: pointer;

    }
.desk_empty_cart {
    display: none;
}
.empty_cart {display: flex;
    text-align: center;
}
.mobile_cart_container{
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: start;
}
    .final_amount {
        display: flex;
        justify-content: space-between;
        font-size: large;
        font-weight: 600;
    }
    .empty_cart{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        height: 30%;
        justify-content: center;   
    }
    
    .empty_cart h1 {
        font-size: x-large;
        margin: 0;
    }
    .empty_cart p {
        margin: 0;
        font-size: larger;
    }
    .mobile_button_container{
        width: 100%;
        cursor: pointer;
    }

    .mobile_button_container button {
        width: 100%;
        border: none;
        background-color: #FFD600;
        height: 50px;
        font-size: large;
        border-radius: 12px;
        cursor: pointer;
    }
}
@media (max-width: 480px) {
    .container{
        width: 90%;;
    }
    .redirect_button{
        display: none;
    }
    .mobile_redirect_button {
        display: flex;
        margin-left: 20px;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 4rem;
        border-radius: 50%;
        background-color: white;
        border: none;
        margin: 0.5rem 0px;
        cursor: pointer;
        filter: drop-shadow(-1px 3px 2px #d4d3d3);

    }

    .mobile_cart_card img {
        min-width: 150px;
    }

    .heading{
        display: none;
    }
    

    
}