.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mobile_header {
    display: none;
}


@media (max-width: 480px) {
    .mobile_header{
        width: 100%;
        display: flex;
    }
    
}