.container {
    height: 100vh ;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner_container {
    display: flex;
    padding: 10vh;
    height: 85%; 
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form_container {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_wrapper {
    width: 100%;
}
.input_wrapper p {
    color: red;
    padding-left: 2px;
    font-size: small;
}
.input_wrapper input {
    padding-left: 2.5rem !important;
}

.input_span {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.single_icon {
    position: absolute;
    padding: 4px;
}

.icon_group {
    display: flex;
    align-items: center;
    justify-content: center;
}
.input_span input {
    padding-left: 3vw;
}
.icon_group img:first-child  {
    position: absolute;
    left: 4px;
}


.icon_group img:last-child  {
    position: absolute;
    right: 4px;
    cursor: pointer;
}

.button_group {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.button_group p {
    color: #828282;
}

.primary_button{
    background-color: #17A2B8;
    color: white;
    border: none;
    outline: none;
    font-size: large;
    width: 100%;
    padding: 12px;
    cursor: pointer;
    border-radius: 55px;
}

.secondary_button{
    border: 1px solid #17A2B8;
    color: #17A2B8;
    background-color: transparent;
    outline: none;
    font-size: large;
    width: 100%;
    padding: 12px;
    cursor: pointer;
    border-radius: 55px;
}
